.appHeader {
  background: linear-gradient(89deg, #1d5994 0%, #22955f 100%);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: calc(30px + 2vmin);
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0.5em 0;
}

.emptyFavourites {
	background-color: #f7fefa;
}

.emptyFavourites p {
	font-size: 20px;
}

.favouritesHeading {
	color: green;
}


