.wasteCardDetails {
	display: grid;
	flex-wrap: nowrap;
	grid-template-columns: 5% 25% auto;
	align-items: start;
	font-size: 25px;
}

.starButton--default, .starButton--favourite {
	border: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.starButton--default .faStar {
	color: grey;
}

.starButton--favourite {
	background-color: #f7fefa;
}

.starButton--favourite .faStar {
	color: #22955f;
}

.wasteBody {
	padding-left: 20%;
}

.wasteBody li {
		margin-bottom: 10px;
}