.wasteCardDetails {
	display: grid;
	flex-wrap: nowrap;
	grid-template-columns: 5% 25% auto;
	align-items: start;
	font-size: 25px;
}

@media only screen 
  and (max-device-width: 768px) {
  	.wasteCardDetails {
  		font-size: 15px;
  		grid-template-columns: 10% 20% auto;
  	}
  }

.starButton--default, .starButton--favourite {
	border: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.starButton--default .faStar {
	color: grey;
}

.starButton--favourite {
	background: transparent;
}

.faStar {
	color: #22955f;
}

button > * {
	pointer-events: none;
}

button:focus {
	outline: 0;
} 

button:hover {
	cursor: pointer;
}

.wasteBody {
	padding-left: 20%;
	padding-right: 3%;
}

.wasteBody li {
		margin-bottom: 25px;
}